body {
color: #000;
text-align: center;
padding: 20px;
}


nav ul {
list-style: none;
background-color: #f497b6;
margin: 0;
padding: 10px;
display: flex;
justify-content: center;
}


nav ul li {
margin: 0 15px;
}


nav ul li a {
text-decoration: none;
color: black;
font-weight: bold;
}


section {
padding: 20px;
}


table {
border-collapse: collapse;
width: 60%;
}


table, th, td {
border: 1px solid #333;
}


th, td {
padding: 10px;
text-align: center;
}


form {
border: 1px solid #333;
padding: 15px;
width: 300px;
}


footer {
background-color: #f8b4c6;
text-align: center;
padding: 10px;
}